html {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

#head {
    padding: 1rem 0;
    text-align: center;
    background-color: #f3f3f3;
}

.title {
    margin-top: 1rem;
    font-weight: 500;
}
.description {
    font-weight: 200;
}

#editor {
    max-width: 36rem;
    margin: 1rem auto;
    padding: 1rem;
}

.color-tools {
    position: relative;
}
.color-picker {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f3f3f3;
    box-shadow: 0 1px 8px #a0a0a0;
    padding: 1rem;
    border-radius: 0.5rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
}
.input {
    width: 100%;
}

#formPickColor button {
    width: 100%;
}
#formPickColor .btn-form {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.colors-container {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    gap: 0.1rem;
    align-items: center;
    overflow-x: scroll;
    padding: 0.1rem;
    margin-bottom: 0.5rem;
    justify-content: end;
}

.colors-container::-webkit-scrollbar {
    scrollbar-width: 2px;
}

.color {
    border: none;
    font-size: larger;
    color: transparent;
}
.color.plus {
    color: #222222;
}
.color.selected {
    border: 2px solid #222222;
}

#drawingBoard {
    border: 1px solid #444444;
    border-radius: 0.2rem;
    width: 100%;
}

h1 {
    margin: 0;
    padding: 0;
}

.btn {
    border: none;
    background-color: #1431d1;
    color: white;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 100ms;
}
.btn-fade {
    background-color: #f3f3f3;
    color: #222222;
    border: 1px solid #444444;
}
.btn-fade:hover {
    background-color: #1431d1;
    border: 1px solid #1431d1;
    color: white;
}

.btn:hover {
    background-color: #1f2e80;
}

#bottom {
    text-align: center;
}